*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    max-width:1300px;
    width: 100%;
    padding: 0px 0px;
    margin-left: 200px;
    
    background-color: aliceblue;
    
}
body{
    background-color: aliceblue;
    color: black;
}

.section11{
    margin-left: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    
    align-items:center;
}
h1{
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin-bottom:40px ;
}
h3{
    color: white;
}
.cards{
    
    background-color: aliceblue;
    display: flex;
    /* padding-top:18%; */
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    flex-direction: column;
    gap: 50px;
    padding-left: 20px;
}

.card{
    flex: 0 0 calc(33.33% -20px);
    max-width: calc(33.33%-20px);
    width: 100%;
    background:rgb(9,36,36);
    border-radius: 15px;
    padding: 50px;
    margin-bottom: 20px;
    transition: .3s;
    border: 2px solid transparent;
}
.card:hover{
    border-color: chartreuse;
    border-width: 100%;
}

.btn11{
    border: none;
    outline: none;
    background:white;
    color:black;
    border-radius: 10px;
    max-width: 120px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
    text-decoration-line: none;
    border: 1px solid rgb(9,36,36) ;
}

.btn11:hover{
    background:rgb(21, 164, 168) ;
    color:white;
   
}

@media(max-width:969px){
    section{
        padding: 20px 0px;
    }
    h1{
        font-size: 30px;
        line-height: 40px;

    }
    .card{
        flex:0 0 calc(50% - 20px);
        max-width:calc(50% - 20px) ;
    }
}
.container{
    display: flex;

}
@media(min-width:600px){
   
    .card{
        flex:0 0 100%;
        max-width:100%;
    }
}